@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Mooli&display=swap');

@font-face {
    font-family: "Glacial" ;
    src: url(../fonts/GlacialIndifference-Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}
body,html {
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    font-family: 'Mooli', sans-serif;
    font-weight: normal;
    font-variant: small-caps;
    font-size:  10vw;
    color: #801c2e;
    padding-top: 40px;
}

header p {
    font-family: 'Mooli', sans-serif;
    font-variant: small-caps;
    font-size: 2.4vw;
    padding-bottom: 40px;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2.4em;
    font-size: 3.5vw;
    font-family: "Glacial", Arial, sans-serif;
}

section.imagem {
    background-color: #333333;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #00000079;
    background-size: cover;
    background-attachment: fixed;
}

div > p {
    display: inline-block;
    background-color: #00000040;
    backdrop-filter: blur(10px);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000062;
}


#back1 {
    background-image: url(../images/back1.jpeg);
}

#back2 {
    background-image: url(../images/back2.jpeg);
}

#back3 {
    background-image: url(../images/back3.jpeg);
}

#back4 {
    background-image: url(../images/back4.jpeg);
    background-position: top center;
}

footer {
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #32acac;
}