@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster+Two&display=swap');
@font-face {
    font-family: "Glacial" ;
    src: url(../fonts/GlacialIndifference-Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Glacial Bold" ;
    src: url(../fonts/GlacialIndifference-Bold.otf) format(opentype);
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin: auto;
}

header > h1 {
    font-family: 'Lobster Two', sans-serif;
    font-weight: normal;
    font-size:  8em;
    padding: 5px;
}

header > p {
    font-family: "Glacial Bold", sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.container {
    padding: 15px;
    height: 200px;
    width: 100vw;
    box-shadow: 1px 1px 1px black;
    font-size: 25px;
    text-align: left;
    font-family: "Glacial", Arial, sans-serif;
}

#q1 {

 }